.main {
    display: grid;
    align-content: flex-start;
    overflow: auto;
    grid-template-rows: 1fr;
    position: relative;
    z-index: 0;
}

.sidebar {
    display: grid;
    align-content: flex-start;
    overflow: auto;
    gap: var(--spacingR);
    width: 300px;
    background-color: var(--color4);
    color: var(--shade2);
    padding: var(--spacingR);
    z-index: 1;
}

.dashboardMenu {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingS);
}

.dashboardMenu button {
    display: grid;
    align-content: flex-start;
    text-transform: capitalize;
    padding: .5rem 1rem;
    cursor: pointer;
    justify-items: flex-start;
}

.dashboardMenu>li {
    display: grid;
    align-content: flex-start;
    border-radius: .5rem;
    transition: background-color 200ms;
}

.dashboardMenu>li:hover,
.highlighted {
    background-color: rgba(var(--shade2), 0.1);
}




.newRequest {
    display: grid;
    align-content: flex-start;
}

.clientRequests {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
}

.eachClientRequest {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    background-color: var(--shade2);
    padding: var(--spacingR);
}

.eachClientRequest>label {
    padding: .5rem;
    background-color: var(--shade1);
    color: var(--shade2);
    font-size: var(--fontSizeS);
    justify-self: flex-start;
}

.dateHolder {
    display: flex;
    gap: var(--spacingS);
    font-size: var(--fontSizeS);
    justify-self: flex-end;
}

.mainContent {
    display: grid;
    align-content: flex-start;
    padding: var(--spacingR);
    background-color: var(--color3);
    overflow: auto;
}

.overviewCont {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    padding: var(--spacingR);
    /* grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr)); */
    grid-template-areas: "a b";
    grid-auto-columns: 1fr;
    overflow: auto;
}

.overviewCont>div {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    background-color: var(--shade2);
    padding: var(--spacingR);
    overflow: auto;
    max-height: 100%;
    border-radius: .5rem;
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%
    }

    .overviewCont>div {
        overflow: initial;
    }

    .overviewCont {
        grid-template-areas:
            "a"
            "b";
    }
}