.form {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.main {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}

.arrayCont {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}

.mapCont {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}

.mapEachCont {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}