.form {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
}

.main {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
}




.eachClientRequest {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    background-color: var(--color3);
    color: var(--shade1);
    padding: var(--spacingR);
    border-radius: 1rem;
}

.eachClientRequest>label {
    padding: .5rem;
    background-color: var(--shade1);
    color: var(--shade2);
    font-size: var(--fontSizeS);
    justify-self: flex-start;
}

.dateHolder {
    display: flex;
    gap: var(--spacingS);
    font-size: var(--fontSizeS);
    justify-self: flex-end;
}

.island {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    padding: var(--spacingR);
    background-color: var(--color3);
    border-radius: 1rem;
}