.form {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
}

.labelCont {
    display: flex;
    align-items: center;
    gap: var(--spacingS);
}

.required {
    color: var(--color1);
    font-size: var(--fontSizeS);
}