@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    /* border: 1px solid red !important; */
}

:root {
    --color1: #2e7d32;
    --color2: #283593;
    --color3: #f1f8f6;
    --color4: #153334;
    --color5: #f02c00;
    --color6: #00796b;

    --textC1: #0f0f0f;
    --textC2: #fff;
    --textC3: #9e9e9e;

    --shade1: #212121;
    --shade2: #ffffff;
    --shade3: #bdbdbd;
    --shade4: #202020;

    --sizeEL: 2rem;
    --sizeL: 1.5rem;
    --sizeR: 1rem;
    --sizeS: .7rem;

    --fontSizeTitle: 5rem;
    --fontSizeEL: 2.5rem;
    --fontSizeL: 2rem;
    --fontSizeM: 1.5rem;
    --fontSizeR: 1rem;
    --fontSizeS: .7rem;

    --spacingEL: 5rem;
    --spacingL: 2rem;
    --spacingM: 1.3rem;
    --spacingR: 1rem;
    --spacingS: .5rem;
    --spacingES: .3rem;

    --borderRadiusEL: 50%;
    --borderRadiusL: 2rem;
    --borderRadiusR: 1rem;
    --borderRadiusS: 0.5rem;
    --borderRadiusES: 0.2rem;

    --transitionTimeR: 400ms;
    --transitionTimeS: 200ms;
}

body {
    height: 100vh;
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto 1fr;
    overflow-y: clip;

    color: var(--shade1);
    font-size: var(--fontSizeR);
    font-family: var(--openSans);
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

input,
textarea {
    padding: var(--spacingR);
    border-radius: .2rem;
    border: 1px solid var(--shade1);
}

input:focus,
textarea:focus {
    outline: none;
}

::-webkit-input-placeholder,
::-moz-placeholder {
    white-space: pre-line;
    position: relative;
    text-transform: initial;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-family: var(--montserrat);
    text-transform: capitalize;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    text-transform: capitalize;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

svg {
    width: 1rem;
    aspect-ratio: 1/1;
    transition: scale 400ms;
    fill: var(--shade2);
}

svg:hover {
    scale: 1.05;
}


section {
    display: grid;
    align-content: flex-start;
}







/* custom classes */
.noScrollBar::-webkit-scrollbar {
    display: none;
}

.button1 {
    background-color: var(--color1);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-self: flex-start;

    display: flex;
    gap: var(--spacingS);
    flex-wrap: wrap;
}

.button1:hover {
    background-color: var(--color6);
}

.button1>* {
    transition: scale 400ms;
}

.button1>*:hover {
    scale: 1.01;
}

.button2 {
    background-color: var(--shade1);
    color: var(--shade2);
    padding: .5rem;
    font-size: var(--fontSizeS);
    text-transform: capitalize;
    font-weight: bold;
    border-radius: .5rem;
    transition: scale 400ms;
}

.button2:hover {
    scale: 1.05;
}

.button3 {
    background-color: var(--color2);
    color: var(--shade2);
    padding: .5rem;
    font-size: var(--fontSizeS);
    border-radius: .5rem;
    font-weight: bold;
    justify-self: flex-start;
}

.tag {
    background-color: var(--shade1);
    color: var(--shade2);
    padding: .5rem;
    font-size: var(--fontSizeS);
    text-transform: uppercase;
    border-radius: .5rem;
    font-weight: bold;
    justify-self: flex-start;
}

.snap {
    scroll-snap-type: x mandatory;
}

.snap>* {
    scroll-snap-align: start;
}

.toolTip::before {
    content: attr(data-tooltip);
    color: var(--shade1);
    border: 1px solid var(--shade1);
    padding: .5rem;
    position: fixed;
    translate: var(--translate, 0 -100%);
    margin: 1rem;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    transition: opacity 400ms;
    font-size: var(--fontSizeS);
    z-index: 99999;
    text-transform: capitalize;
}

.toolTip:hover::before {
    animation: slowOpacity 600ms 2s forwards;
}


@keyframes slowOpacity {
    to {
        opacity: 1;
    }
}

.errorText {
    color: var(--color5);
    font-size: var(--smallFontSize);
}

.noMargin {
    margin: 0;
}