@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    /* border: 1px solid red !important; */
}

:root {
    --viewColor1: rgb(46, 125, 50);
    --viewColor2: rgb(40, 53, 147);
    --viewColor3: rgb(241, 248, 246);
    --viewColor4: rgb(21, 51, 52);
    --viewColor5: rgb(240, 44, 0);
    --viewColor6: rgb(0, 121, 107);

    --viewShade1: rgb(33, 33, 33);
    --viewShade2: rgb(255, 255, 255);
    --viewShade3: rgb(189, 189, 189);
    --viewShade4: rgb(97, 97, 97);

    --color1: 46, 125, 50;
    --color2: 40, 53, 147;
    --color3: 241, 248, 246;
    --color4: 21, 51, 52;
    --color5: 240, 44, 0;
    --color6: 0, 121, 107;

    --shade1: 33, 33, 33;
    --shade2: 255, 255, 255;
    --shade3: 189, 189, 189;
    --shade4: 97, 97, 97;

    --fontSizeS: .7rem;
    --fontSizeR: 1rem;
    --fontSizeM: 1.5rem;
    --fontSizeL: 2rem;
}

body {
    height: 100vh;
    display: grid;
    align-content: flex-start;
    grid-template-rows: auto 1fr;
    overflow-y: clip;

    color: rgb(var(--shade1));
    font-size: var(--fontSizeR);
    font-family: var(--openSans);
}

label {
    font-weight: bold;
    text-transform: capitalize;
}

input,
textarea {
    padding: 1rem;
    border-radius: .2rem;
    border: 1px solid rgb(var(--shade1));
}

input:focus,
textarea:focus {
    outline: none;
}

::-webkit-input-placeholder,
::-moz-placeholder {
    white-space: pre-line;
    position: relative;
    text-transform: initial;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-family: var(--montserrat);
    text-transform: capitalize;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    text-transform: capitalize;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

svg {
    width: 1rem;
    aspect-ratio: 1/1;
    transition: scale 400ms;
    fill: rgb(var(--shade2));
}

svg:hover {
    scale: 1.05;
}


section {
    display: grid;
    align-content: flex-start;
}







/* custom classes */
.noScrollBar::-webkit-scrollbar {
    display: none;
}

.button1 {
    background-color: rgb(var(--color1));
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-self: flex-start;

    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.button1:hover {
    background-color: rgb(var(--color6));
}

.button1>* {
    transition: scale 400ms;
}

.button1>*:hover {
    scale: 1.01;
}

.button2 {
    background-color: rgb(var(--shade1));
    color: rgb(var(--shade2));
    padding: .5rem;
    font-size: var(--fontSizeS);
    text-transform: capitalize;
    font-weight: bold;
    border-radius: .5rem;
    transition: scale 400ms;
}

.button2:hover {
    scale: 1.05;
}

.button3 {
    background-color: rgb(var(--color2));
    color: rgb(var(--shade2));
    padding: .5rem;
    font-size: var(--fontSizeS);
    border-radius: .5rem;
    font-weight: bold;
    justify-self: flex-start;
}

.tag {
    background-color: rgb(var(--shade1));
    color: rgb(var(--shade2));
    padding: .5rem;
    font-size: var(--fontSizeS);
    text-transform: uppercase;
    border-radius: .5rem;
    font-weight: bold;
    justify-self: flex-start;
}

.snap {
    scroll-snap-type: x mandatory;
}

.snap>* {
    scroll-snap-align: start;
}

.toolTip::before {
    content: attr(data-tooltip);
    color: rgb(var(--shade1));
    border: 1px solid rgb(var(--shade1));
    padding: .5rem;
    position: fixed;
    translate: var(--translate, 0 -100%);
    margin: 1rem;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    transition: opacity 400ms;
    font-size: var(--fontSizeS);
    z-index: 99999;
    text-transform: capitalize;
}

.toolTip:hover::before {
    animation: slowOpacity 600ms 2s forwards;
}


@keyframes slowOpacity {
    to {
        opacity: 1;
    }
}

.errorText {
    color: rgb(var(--color4));
    font-size: var(--smallFontSize);
}

.noMargin {
    margin: 0;
}