.nav {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-transform: capitalize;
    align-items: center;
    z-index: 999;
    position: relative;
    border-bottom: 1px solid rgb(var(--shade1));
    padding-inline: .5rem;
}

.menu {
    flex: 0 0 110px;
    display: flex;
    gap: 1rem;
    padding-block: .5rem;
    justify-content: flex-end;
}

.menuItem {
    display: grid;
    padding: .5rem;
}