.main {
    display: grid;
    align-content: flex-start;
    overflow: auto;
    grid-template-rows: 1fr;
    position: relative;
    z-index: 0;
}

.sidebar {
    display: grid;
    align-content: flex-start;
    overflow: auto;
    gap: 1rem;
    width: 300px;
    background-color: rgb(var(--color4));
    color: rgb(var(--shade2));
    padding: 1rem;
    z-index: 1;
}

.dashboardMenu {
    display: grid;
    align-content: flex-start;
    overflow: auto;
    gap: .5rem;
}

.dashboardMenu button {
    display: grid;
    align-content: flex-start;
    text-transform: capitalize;
    padding: .5rem 1rem;
    cursor: pointer;
    justify-items: flex-start;
}

.dashboardMenu>li {
    display: grid;
    align-content: flex-start;
    border-radius: .5rem;
    transition: background-color 200ms;
}

.dashboardMenu>li:hover,
.highlighted {
    background-color: rgba(var(--shade2), 0.1);
}




.newRequest {
    display: grid;
    align-content: flex-start;
}

.clientRequests {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
}

.eachClientRequest {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    background-color: rgb(var(--shade2));
    padding: 1rem;
}

.eachClientRequest>label {
    padding: .5rem;
    background-color: rgb(var(--shade1));
    color: rgb(var(--shade2));
    font-size: var(--fontSizeS);
    justify-self: flex-start;
}

.dateHolder {
    display: flex;
    gap: .5rem;
    font-size: var(--fontSizeS);
    justify-self: flex-end;
}

.mainContent {
    display: grid;
    align-content: flex-start;
    padding: 1rem;
    background-color: rgb(var(--color3));
    grid-template-rows: auto 1fr;
    overflow: auto;
}

.overviewCont {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    overflow: auto;
}

.overviewCont>div {
    display: grid;
    align-content: flex-start;
    gap: 1rem;
    background-color: rgb(var(--shade2));
    padding: 1rem;
    overflow: auto;
    max-height: 100%;
    border-radius: .5rem;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%
    }


    .overviewCont>div {
        overflow: initial;
    }
}